nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  max-width: var(--max-page-width);
  background-color: transparent;
  border-bottom: 2px solid transparent;

  &.sticky {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-color: rgba(255, 255, 255, 0.12);
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    li {
      list-style: none;
      position: relative;

      a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--main-font-color);
        place-items: center;
        transition: 0.3s ease;
        font-family: var(--body-font);
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;

        &.active {
          color: var(--accent-text-color-2);
        }

        &::after {
          content: "";
          height: 2px;
          width: 50%;
          background-color: #fff;
          left: 25%;
          bottom: -2px;
          transition: all 0.35s ease;
          pointer-events: none;
          position: absolute;
          opacity: 0;
        }

        &:not(.active):hover::after {
          left: 0;
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}

#navbar-logo {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

#mobile-toggle {
  display: none;

  .mobile-toggle-btn {
    color: #fff;
    font-size: 24px;
  }

  :hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 740px) {
  nav {
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: var(--navbar-height);
      right: -320px;
      height: 100vh;
      width: 310px;
      background-color: var(--secondary-bg-color);
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 20px;
      transition: 0.35s;
      gap: 20px;

      &.active {
        right: 0;
      }
    }
  }

  #mobile-toggle {
    display: grid;
    place-items: center;
  }
}
